*{
    box-sizing: border-box;
}
body {font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src:url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'Roboto-Thin';
    src:url('../fonts/Roboto-Thin.ttf') format('truetype');
}

@font-face{
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
}
@font-face {
    font-family: 'Roboto';
    src:url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
}

html{
    font-size: 20px;
}

img {
    max-width: 100%;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px
}
.conteiner {
    max-width: 1060px;
    margin:  0 auto;
    padding: 0 0.75rem;
}
.block01{
    background: url("../img/top_bg.jpg") no-repeat top center / cover;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.block01__header {
    padding: 2rem 0 0;
}

.block01__row {
    overflow: hidden;
    margin: 0 -0.75rem;
}

.block01__row div{
    padding: 0.75rem;
    float: left;
    min-height: 1px;
}

.block01__col1 {
    width: 25%;
}

.block01__col2{
    width: 55%;
}

.block01__col3{
    width: 20%;
}

.block01__col1 img{
    width: 9.4rem;   
}

.block01__nav{
    padding:1.1rem 0 0;
    text-align: right;
}
.block01__nav li {
    display: inline-block;
    color: white;
}
.block01__nav li + li{
    margin-left: 2.2rem;
}
.block01__nav a{
    font-size: 0.75rem;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Roboto-Thin';
    transition: 0.2s;
}

.block01__city {
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: "Roboto-Thin";
    padding: 1.1rem 0 0;
}

.block01__nav a:hover{
color:green;
}

.block01__nav a:active{
    color: #ffffff;
 }
 
.block01_h1__main {
    padding: 9rem 0 5rem;
}
.block01_h1{
    font-size: 4rem;
    line-height: 1em;
    color: #ffffff;
    margin: 0 0 0.5rem;
    font-family: "Roboto-Thin";
}

.block01_h2{
    font-size: 2.5rem;
    line-height: 1em;
    font-weight: 400;
    color: #ffffff;
}

.block01:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-left: 100vw solid transparent;
    border-bottom: 5.55rem solid #fff;
}

.block02{
    padding: 4rem 0 1.5rem;
}

.block02__inner{
    position: relative;
}

.block02__info {
    position: absolute;
    top: -10rem;
    width: 50%;
    padding: 1.5rem;
    background: #fff;
    box-shadow: 0px 1px 2px 0px rgba(35, 31, 32, 0.65);
    right: 0;   
}

.block02__text1{
    font-size: 2rem;
    font-weight: 700;
    margin: 0 0 1.25rem;
}

.block02__text2 {
    margin: 0 0 0.75rem;
}

.simple-text {
    font-size: 0.7rem;
    font-family: 'Roboto-Thin'; 
}

.block02__header {
    margin: 0 0 6rem;
}

.header {
    font-size: 2.5rem;
    font-weight: 900;
}
.text-center{
    text-align: center;
}

.block02__text3 {
    margin: 0 0 0.75rem;
    font-size: 37px;
    font-family: "Roboto";
    color: rgb(37, 37, 37);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;   
}

.block02__plus{
    float: left;
    width: 33.33%;
    padding: 0 0.75rem;   
}

.clear{
    clear: both;
}

.block02__plusses{
    display: flex;
    justify-content: space-between;
}

.block02__plus {
    flex: 0 1 30%;
}

.block02__image-wrap{
    height: 10,5rem;
    position: relative;
}

.block02__image-wrap img{
max-width: 100%;
max-height: 100%;
}

.block02__text3{
    margin: 0 0 1rem;
    font-size: 35px;
    font-weight: 900;
}

.movie-list__header {
    color: #252525;
    font-size: 50px;
    text-align: center;
    font-weight: 800;
    margin: 90px;
}

.block03 {
    padding: 4.5rem;
}

.block03__header{
    margin: 0 0 3rem;
}

.block03__table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
}

.block03__table th {
    color: #ffffff;
    background: #a3cc40;
    font-size: 1.5rem;
    font-weight: 700;
    height: 3.25rem;
    padding: 36px 20px;
}

.block03__table th a{
    font-weight: 700;
    font-size: 22px;
    color: #ffffff;
    text-decoration: none;
}
.block03__table tr {
    color: #ffffff;
    background: #373737;
    font-size: 22px;
    width: 700px;
    height: 65px;
}

.block03__table tr:nth-child(even) {
    background: #4b4d4f;
    text-align: center;
}

.block03__table tr:nth-child(odd) {
    background: #373737;
    text-align: center;
}

.block03__table td {
    font-size: 22px;
    font-family: "Roboto";
    padding: 36px 20px;
}

.block03__text {
    margin: 30px auto 0;
    max-width: 830px;
}

label {
    width: 35px; /* Ширина рисунка */
    height: 35px; /* Высота рисунка */
    display: block; /* Блочный элемент */
    position: absolute;
   
   }

input[type="checkbox"] + span {
    position: absolute; /* Абсолютное позиционирование */
    left: 4.2rem; 
    top: 0;
    width: 100%; 
    height: 100%;
    background: url(/img/More_icon.png) no-repeat; /* Фоновый рисунок */
    cursor: pointer; /* Курсор в виде руки */
   }
   
   input[type=checkbox] {
        display: none;
    }
    

   .block04 {
       padding: 260px 0 160px;
       background: url(../img/background_2.png) no-repeat center / cover;
       position: relative;
       overflow: hidden;
   }

   .block04__inner {
       position: relative;
   }

   .block04__logo {
       position: absolute;
       box-shadow:10.5px 18.187px 12px 0px rgba(35, 31, 32, 0.55);
       border-radius: 100%;
       overflow: hidden;
       left: 0;
       top: -260px;
   }

   .block04__text-wrap {
        width: 75%;
        margin-left: auto;
   }

   .text-right {
       text-align: right;
   }

   h3 {
       color: #ffffff;
       margin: 0 0 40px;
       font-size: 50px;
       font-weight: 900;
   }

   .block04__text1 {
       color: #ffffff;
       margin: 0 0 20px;
    }

    .button_1{
        display: inline-block;
        background: #90d23d;
        color: #ffffff;
        padding: 15px 30px;
        border-radius: 12px;
        font-size: 0.9rem;
        transition: 0.2s;
        border: 20px solid #90d23d;
        cursor: pointer;
        text-decoration: none;
    }

    .block05 {
        padding: 120px 0;
    }

    .block05__header {
        margin: 0 0 30px;
    }
    .block05__text1{
        margin: 0 0 3rem;
        max-width: 70%;
    }

    .block05__inner{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1.9rem;
    }

    .block05__relative {
        position: relative;
        border-radius: 20px;
        overflow: hidden;
    }

    .block05__movie1 {
        padding: 23px;
    }

    .block05__descr {
        position: absolute;
        background-color: rgb(144, 210, 61, .5);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 24px;
    }

    .block05__bg img {
        display: block;
    }

    .block05__text2{
        color: #ffffff;
        font-weight: 700;
        font-size: 1.75rem;
        line-height: 1;
        margin-bottom: 0.25rem;
    }

    .block05__sep{
        width: 4.2rem;
        height: 0.3rem;
        background: #fff;
        margin-bottom: 0.5rem;
    }

    .block05__text3 {
        font-size: 0.9rem;
        color: #ffffff;
        font-weight: 400;
    }
    
    .block05__link {
        position: absolute;
        color: #ffffff;
        font-size: 1.75rem;
        bottom: 24px;
        left: 24px;   
    }

    .block05__links a {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background: #fff;
        color: rgb(144, 210, 61, .5);
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
        text-align: center;
    }

    .icon:before {
        font-family: fico;
        font-weight: normal !important;
        font-style: normal !important;
        text-transform: none !important;
        vertical-align: baseline;
        -webkit-font-smoothing: antialiased;
    }

    .icon-twitter:before {
        content: "\f14a";
    }

    .icon-facebook:before {
        content: "\f13a";
    }

    .block05__movie1:hover .block05__descr {
        top: 0;
    }


    .block06 img {
        display: block;
        width: 100%;
    }

    .block07 {
        background:#90d23d;
        padding: 2.5rem 0;
    }

    .block07__inner svg {
        width: 2.5rem;
    }

    a {
        text-decoration: none;
    }