*{
    box-sizing: border-box;
}
body {font-family: 'Roboto', sans-serif;
    width: 1366px;
    margin: 0 auto;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src:url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'Roboto-Thin';
    src:url('../fonts/Roboto-Thin.ttf') format('truetype');
}

html{
    font-size: 20px;
}

img {
    max-width: 100%;
}

.conteiner {
    max-width: 1060px;
    margin:  0 auto;
    padding: 0 15px;
}
.block01{
    background: url("../img/top_bg.jpg") no-repeat top center / cover;
    min-height: 100vh;
}
.block01__nav li {
    display: inline-block;
    color: white;
}
.block01__nav li + li{
    margin-left: 44px;
}
.block01__nav a{
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 300;
    transition: 0.2s;

}

.block01__nav a:hover{
color:green;
}

.block01__nav a:active{
    color: #ffffff;
    }

.font-size-50 {
    font-size: 50px;
}
.font-weight-700{
    font-weight: 700;
}
.text-center{
    text-align: center;
}

.block01_h1__main {
    padding: 180px 0 100px;
}
.block01_h1{
    font-size: 80px;
    line-height: 1em;
    color: #ffffff;
    margin: 0 0 10px;
    font-family: "Roboto-Thin";
}

.block01_h2{
    font-size: 50px;
    line-height: 1em;
    font-weight: 400;
    color: #ffffff;
}

.block02_text1{
        font-size: 37px;
        font-family: "Roboto";
        color: rgb(37, 37, 37);
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
        position: absolute;    
}

.block02__plus{
    float: left;
    width: 33.33%;
    padding: 0 15px;   
}

.clear{
    clear: both;
}

.block03__plusses{
    overflow: hidden;
    margin: 0 -15px 50px;
}

.block02__image-wrap{
    height: 210px;
    position: relative;
}

.block02__image-wrap img{
max-width: 100%;
max-height: 100%;
}

.block02__info {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 2px 0px rgba(35, 31, 32, 0.65);
    position: absolute;
    left: 685px;
    top: 639px;
    width: 516px;
    height: 267px;
    z-index: 2;    
}
  
.movie-list__header {
    color: #252525;
    font-size: 50px;
    text-align: center;
    font-weight: 800;
    margin: 90px;
}



.block03__table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
}

.block03__table th {
    color: #ffffff;
    background: #a3cc40;
    font-size: 30px;
    font-weight: 700px;
}
.block03__table tr {
    color: #ffffff;
    background: #373737;
    font-size: 30px;
    width: 300px;
}

.block03__table tr:nth-child(even) {
    background: #373737;
}

.block03__table tr:nth-child(odd) {
    background: #4b4d4f;
}

.block03__table td {
    font-size: 14px;
    font-family: "Roboto";
}