@media screen and (max-width:1200px)
{
    html{
        font-size: 1.86vw;
    }

    .block04__logo {
        left: 3.5rem;
    }

    .owl-nav{
        display: none;
    }
}

@media screen and (max-width: 1000px){
    html {
    font-size: 17px;
}
}

@media screen and (max-width:850px)
{
    html{
        font-size: 2.86vw;
    }

    .block01__city{
        display: none;
    }
 
        /* бургер */
        /* .menu {
            display: none;
          }
        .trigger {
          display: inline-block;
          margin: 3px;
          cursor: pointer;
          position: absolute;
        }
        .trigger i {
          display: block;
          width: 30px;
          height: 3px;
          margin: 10px auto;
          background: rgb(255, 255, 255);
        }
        .show {
            display: block;
        } */


    .menu__burger{
        position: relative;
        width: 1.3rem;
        height: 1.3rem;
        overflow: hidden;
    }

    .menu__burger::before,
    .menu__burger::after,
    .menu__burger span{
        content: '';
        position: absolute;
        width: 200%;
        height: 0.1rem;
        background: #fff;
        transition: .2s;
    }

    .menu__burger span{
        top: 50%;
        margin-top: -0.05rem;
    }

    .menu__burger::after{
        bottom: 0;
    }

    .menu__burger_opened span{
        opacity: 0;
    }

    .menu__burger_opened{
        background: rgba(0, 0, 0, .9);
        padding: .5rem;
        margin: -.5rem -.8rem 0;
    }

    .block01__nav{
        position: fixed;
        right: 0;
        padding: 2rem;
        background: rgba(0, 0, 0, .9);
        z-index: 100;
        text-align: left;
        transform: translateX(100%);
        transition: .2s;
    }
    
    .block01__nav ul{
        display: block;
    }

    .block01__nav li + li{
        margin-left: 0;
        margin-top: .7rem;
    }

    .block01__nav_closed{
        transform: translateX(-100%);
    }
   
    .block01__col2 {
        width: auto;
    }

    .block01__col1{
        width: auto;
        flex: 1;
    }

    .block01_h1{
        font-size: 3rem;
    }

    .block02__text1 {
        font-size: 2.5rem;
    }


    .block02__text2 {
        font-size: 1.5rem;
    }

    .block01_h2 {
        font-size: 2.4rem;
    }

    .block-moviel-list__wrap{
        width: 100%;
        overflow-x: auto;
    }

    .movie-list__table{
        min-width: 50rem;
    }

    .block-movies__inner {
        grid-template-columns: 1fr 1fr;
    }

    .movie__name{
        font-size: .9rem;
        margin-bottom: .1rem;
    }

    .movie__sep{
        width: 4.2rem;
        height: .2rem;
        margin: .3rem 0;
    }

    .movie__text{
        font-size: .6rem;
    }  

    .block04__logo {
        top: -16rem;
    }

    .block04__text-wrap {
        width: 100%;
    }

    .block05__text1 {
        max-width: 100%;
    }

    .block02__info {
        position: static;
        width: 100%;
    }  
    
    .block02-whywe {
        padding: 0.9rem 0 1rem;
    }

    .block02__header {
        margin: 3rem 0;
    }

    .simple-text{
        font-size: 1rem;
    }

    .block02__text3 {
        flex: 0;
    }

    .block02-whywe {
        margin: 0 -.5rem;
    }

    .block02__pluses {
        padding: 0 .5rem;
    }

    .owl-nav{
        font-size: 5rem;
    }
    
    .owl-nav button.owl-prev{
        position: absolute;
        left: -1.2rem;
        top: 2rem;
    }
    
    .owl-nav button.owl-next{
        position: absolute;
        right: -1.2rem;
        top: 2rem;
    } 
    .table-list {
        width: 100%;
        overflow-x: auto;
    }
    .block03__table{
        min-width: 50rem;
    }
    
}

@media screen and (max-width: 500px)
{
    .block02__pluses{
        display: block;
        margin: 0 -.5rem;
        text-align: center;
        overflow: hidden;
    }
    
    .block02__plus{
        display: block;
        float: left;
        width: 100%;
        padding: 0 1.5rem;
    }

    .block02__image-wrap{
        margin: 0 0 2rem;
        height: 10.4rem;
        position: relative;
        transition: .2s;
    }
    
    .block02__image-wrap:hover{
        transform: scale(1.07);
    
    }
    
    .block02__image-wrap img{
        height: 10.4rem;
    }
    
    .whywe__img{
        max-width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    
    .whywe__img .whywe__img{
        height: 9rem;
    }
    
    .block02__text3{
        font-size: 1.75rem;
        font-weight: 900;
        margin: 0 0 1rem;
    }
    
    .clear{
        clear: both;
    }
    .block04__logo {
        top: -16rem;
    }
}
